/* Sharing Styles */
* {
    margin: 0;
    padding: 0;
}

.primary-btn {
    color: white;
    background-color: #E55473;
    border-radius: 10px;
    padding: 20px 50px;
}

.highlight-text {
    color: #E55473;
}

/* Banner section style */
.banner-section {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;

}

.banner-text {
    width: 50%;
    margin-left: 50px;
}

.banner-title {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 50px;
    padding-bottom: 30px;
}

.banner-pera {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 30px;
}

.banner-image {
    height: auto;
    margin-right: 50px;
}

/* products section style */
.products-section {
    margin: 50px 50px;
}

.product-text {
    text-align: center;
}

.product-text h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 10px;
}

.product-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 30px;
}

.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-1 img {
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 310px;
    height: 428px;
}

.products-1 h3 {
    text-align: center;
    text-decoration: underline;
}

.products-2 img {
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 310px;
    height: 428px;
}

.products-2 h3 {
    text-align: center;
    text-decoration: underline;
}

.products-3 img {
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 310px;
    height: 428px;
}

.products-3 h3 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 30px;
}

/* deal section style */
.deal-section {
    margin: 50px 0px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.deal-text h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 10px;
}

.deal-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
}

.deal-section button {
    margin-left: 150px;
}

/* Insta Section Style */
.insta-section {
    margin: 50px 50px;

}

.insta-text {
    text-align: center;
}

.insta-text h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 10px;
}

.insta-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
}

.insta-products {

    width: auto;
    display: flex;
    justify-content: space-between;
}

.insta-products img {
    width: 100%;
    height: 100%;
}

.insta-products-1 {
    margin-left: 10px;
}

.insta-products-2 {
    margin-left: 10px;
}

.insta-products-3 {
    margin-left: 10px;
}

.insta-products-4 {
    margin-left: 10px;
}
/* Newsletter Section Style */
.newsletter-section {
    margin: 50px 50px;
    background-color: white;
    background-image: url("/asset/Rectangle\ 9.png");
    height: 450px;
    color: black;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-text {
    text-align: center;
}

.newsletter-text h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 10px;
}

.newsletter-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
}

.newsletter-text input {
    width: 700px;
    height: 64px;
}
/* Map Section Style */
.map-section {
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-text {
    margin-right: 20px;
}

.map-text h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 10px;
}

.map-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
}
/* Footer Section Style */
.footer-section {
    background-color: black;
    color: white;
    text-align: center;
    padding: 150px;
}

.footer-section h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 10px;
}

.footer-section p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
}